<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <title>Comparacion de Algoritmos</title>

</head>

<body>

    <header class="header">
        <img src="{{ url_for('static', filename='imagenes/logofacena.jpg') }}" alt="Logo" class="logo">

        <h1 class="titulo-header">Proyecto Final de Carrera</h1>
    </header>
    <main>

        <div class="contenedorGeneral">

            <div class="contenedor" style="margin: 20px 0;">
                <h2> Descripción del proyecto:</h2>
                <p>Este sistema es un proyecto final de carrera. Fue utilizado para la defensa y/o presentación de los conceptos teóricos plasmados en el documento formal que acompaña a 
                    este sistema en su entrega. Está diseñado para evaluar distintos modelos de Machine Learning enfocándose en el tipo de aprendizaje supervisado. 
                    Nos permite evaluar el rendimiento para así poder sacar conclusiones de acuerdo al fin que se desea utilizar cada uno de ellos.
                </p>

            </div>





            <div class="wizard">
                <!-- Paso 1 -->
                <div class="step active" id="step-1">
                    <h2>Paso 1: Cargar y preprocesamiento de los datos.</h2>
                    <p>Carga el conjunto de datos de entrenamiento.</p>
                    <input type="file" id="trainFile" name="trainFile" accept=".csv">
                    <br><br>
                    <p>Carga el conjunto de datos de test.</p>
                    <input type="file" id="testFile" name="testFile" accept=".csv">

                    <div>
                        <button class="next-btn" onclick="goToStep(2)">Siguiente</button>
                    </div>
                </div>

                <!-- Paso 2 -->
                <!-- <div class="step" id="step-2">
                    <h2>Paso 2: Preprocesar Datos</h2>
                    <p>Al presionar en el boton "Siguiente" se iniciciara el preprocesamiento de los datos cargados.</p>
                    <div>
                        <button class="prev-btn" onclick="goToStep(1)">Anterior</button>
                        <button class="next-btn" onclick="goToStep(3)">Siguiente</button>
                    </div>
                </div> -->

                <div id="loading-message" class="loading-overlay" style="display: none;">
                    <p id="loading-text">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 3 -->
                <div class="step" id="step-3">
                    <h2>Paso 2: Evaluar Modelos</h2>
                    <label for="modelSelect">Elige un algoritmo:</label>
                    <select id="modelSelect" name="model" style="width: 100%;">
                        <option value="DT">Arbol de desicion</option>
                        <option value="Bagging">Bagging</option>
                        <option value="RF">Bosque Aleatorio (Enfoque Bagging)</option>
                    </select>
                    <div>
                        <button class="prev-btn" onclick="goToStep(2)">Anterior</button>
                        <button class="next-btn" onclick="goToStep(4)">Siguiente</button>
                    </div>
                </div>

                <div id="loading-message-train" class="loading-overlay" style="display: none;">
                    <p id="training-status">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 4 -->
                <div class="step" id="step-4">
                    <h2>Paso 3: Generar Resultados</h2>

                    <p>Pulsa "Siguiente" para empezar con el proceso de generar los graficos, reportes, estadisticas,
                        etc.
                    </p>
                    <div>
                        <button class="next-btn" onclick="goToStep(5)">Siguiente</button>
                    </div>
                </div>
                <div id="loading-message-grafica" class="loading-overlay" style="display: none;">
                    <p id="grafica-status">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 5 -->
                <div class="step" id="step-5">
                    <h2>Paso 4: Resultados</h2>
                    <p>Pulsa "Ver resultados" para ver todos los resutados generados.</p>
                    <div>
                        <button onclick="window.location.href='/resultados'" class="next-btn">Ver Resultados</button>
                    </div>

                </div>
            </div>
        </div>
    </main>
    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Sobre nosotros</h5>
                    <p>Nuestros nombres son Acevedo Agustin y Alegre Gaton. Somos estudiantes de Lic en Sistemas de la
                        Facultad Nacional del Nordeste (UNNE).
                        Trabajamos juntos en varios proyectos para diferentes asignaturas y con este mismo damos por
                        finalizado nuestra etapa como estudiantes Universitarios.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Enlaces rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-light">Inicio</a></li>
                        <li><a href="/resultados" class="text-light">Reportes y Estadisticas</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Redes sociales y Contactos</h5>
                    <h6>Acevedo Agustin</h6>
                    <a href="https://github.com/agustin-acevedo" class="text-light me-2">GitHub</a>
                    <a href="https://www.linkedin.com/in/nahuel-agustin-acevedo-casere-6aa1ab2a3/" class="text-light"> Linkedin</a>
                  
                    <p>Gmail: ac.nahuel.agustin@gmail.com</p>
                    <h6>Alegre Gaston</h6>
                    <a href="https://github.com/GastoNahuel" class="text-light me-2">GitHub</a>
                    <a href="https://www.linkedin.com/in/gastón-alegre" class="text-light">Linkedin</a>
              
                    <p>Gmail: gastonj0082@gmail.com</p>

                </div>
            </div>
        </div>
    </footer>


    <script src="/static/pasos.js"></script>
</body>

</html>