<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <title>Comparacion de Algoritmos</title>

</head>

<body>

    <header class="header">
        <!--<img src="imagenes/logofacena.png" alt="Logo" class="logo">-->
        <img src="{{ url_for('static', filename='imagenes/logofacena.jpg') }}" alt="Logo" class="logo">

        <h1 class="titulo-header">Proyecto Final de Carrera</h1>
    </header>
    <main>
        <div class="contenedorGeneral">

            <div class="contenedor" style="margin: 20px 0;">
                <h2> Descripcion del proyecto:</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum omnis eius libero consequatur placeat
                    doloremque incidunt molestiae praesentium ea minus blanditiis optio iusto, soluta odio esse,
                    quaerat alias ducimus veritatis.</p>

            </div>

            
            <div class="contenedor" style="margin: 20px 0;">
                <h2> Contenedor 2:</h2>
                <p>Este contenedor es para ver como se veria la pagina si se agregan mas secciones 
                    para ver si se adapta al tamaño o no.</p>

            </div>


            <div class="wizard">
                <!-- Paso 1 -->
                <div class="step active" id="step-1">
                    <h2>Paso 1: Cargar Dataset</h2>
                    <p>Carga el conjunto de datos con el que desea trabajar.</p>
                    <input type="file" id="file-input">
                    <button class="next-btn" onclick="goToStep(2)">Siguiente</button>
                </div>

                <!-- Paso 3 -->
                <div class="step" id="step-2">
                    <h2>Paso 2: Preprocesar Datos</h2>
                    <p>Al presionar en el boton "Siguiente" se iniciciara el preprocesamiento de los datos cargados.</p>
                    <button class="prev-btn" onclick="goToStep(1)">Anterior</button>
                    <button class="next-btn" onclick="goToStep(3)">Siguiente</button>
                </div>

                <div id="loading-message" class="loading-overlay" style="display: none;">
                    <p id="loading-text">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 3 -->
                <div class="step" id="step-3">
                    <h2>Paso 3: Evaluar Modelos</h2>
                    <label for="modelSelect">Elige un algoritmo:</label>
                    <select id="modelSelect" name="model">
                        <option value="RF">Bosque Aleatorio (Enfoque Bagging)</option>
                        <option value="AdaBoost">Adaptive Boosting (Enfoque Boosting)</option>
                        <option value="GBM">Gradient Boosting (Enfoque Boosting)</option>
                        <option value="XGBoost">Extreme Gradient Boosting (Enfoque Boosting)</option>
                        <option value="LightGBM">Light Gradient Boosting Machine(Enfoque Boosting)</option>
                        <option value="VC">Voting Classifier (Enfoque Voting)</option>
                    </select>
                    <button class="prev-btn" onclick="goToStep(2)">Anterior</button>
                    <button class="next-btn" onclick="goToStep(4)">Siguiente</button>
                </div>

                <div id="loading-message" class="loading-overlay" style="display: none;">
                    <p id="training-status">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 4 -->
                <div class="step" id="step-4">
                    <h2>Paso 4: Resultados</h2>
                    <p>Aquí se mostrarán los gráficos y las tablas generadas.</p>
                    <button class="prev-btn" onclick="goToStep(3)">Anterior</button>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <h1>footer</h1>
    </footer>

    <script src="/static/pasos.js"></script>
</body>

</html>