<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <title>Comparacion de Algoritmos</title>

</head>

<body>

    <header class="header">
        <!--<img src="imagenes/logofacena.png" alt="Logo" class="logo">-->
        <img src="{{ url_for('static', filename='imagenes/logofacena.jpg') }}" alt="Logo" class="logo">

        <h1 class="titulo-header">Proyecto Final de Carrera</h1>
    </header>
    <main>
        <div class="contenedorGeneral">

            <div class="contenedor" style="margin: 20px 0;">
                <h2> Descripcion del proyecto:</h2>
                <p>Este sistema es un proyecto final de carrera. Fue utilizado para la defensa y/o presentacion de
                    los conceptos teoricos plasmados en el documento formal que acompaña a este sistema en su entrega.
                    Esta diseñado para evaluar distintos modelos de Machine Learning enfocandose en el tipo de aprendizaje supervisado.
                    Nos permite evaluar el rendimiento para asi poder sacar consluiones de acuerdo al fin que se desea utilizar cada uno de ellos.
                </p>

            </div>

            
         


            <div class="wizard">
                <!-- Paso 1 -->
                <div class="step" id="step-1" >
                    <h2>Paso 1: Cargar Dataset</h2>
                    <p>Carga el conjunto de datos de entrenamiento.</p>
                    <input type="file" id="trainFile" name="trainFile" accept=".csv">
                    <p>Carga el conjunto de datos de test.</p>
                    <input type="file" id="testFile" name="testFile" accept=".csv">
                 
                    <div>
                        <button class="next-btn" onclick="goToStep(2)">Siguiente</button>
                    </div>
                </div>

                <!-- Paso 2 -->
                <div class="step" id="step-2" >
                    <h2>Paso 2: Preprocesar Datos</h2>
                    <p>Al presionar en el boton "Siguiente" se iniciciara el preprocesamiento de los datos cargados.</p>
                    <div>
                        <button class="prev-btn" onclick="goToStep(1)">Anterior</button>
                        <button class="next-btn" onclick="goToStep(3)">Siguiente</button>
                    </div>
                </div>

                <div id="loading-message" class="loading-overlay" style="display: none;">
                    <p id="loading-text">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 3 -->
                <div class="step active" id="step-3" >
                    <h2>Paso 3: Evaluar Modelos</h2>
                    <label for="modelSelect">Elige un algoritmo:</label>
                    <select id="modelSelect" name="model" style="width: 100%;">
                        <!-- <option value="DT">Arbol de desicion</option>
                        <option value="RF">Bosque Aleatorio (Enfoque Bagging)</option>
                        <option value="AdaBoost">Adaptive Boosting (Enfoque Boosting)</option>
                        <option value="GBM">Gradient Boosting (Enfoque Boosting)</option>
                        <option value="LightGBM">Light Gradient Boosting Machine(Enfoque Boosting)</option> -->
                        <option value="DT">Arbol de desicion</option>
                        <option value="Bagging">Bagging</option>
                        <option value="AdaBoost">Adaptive Boosting (Enfoque Boosting)</option>
                        <option value="RF">Bosque Aleatorio (Enfoque Bagging)</option>
                        <option value="XGBoost">Extreme Gradient Boosting (Enfoque Boosting)</option>
                        <option value="GBM">Gradient Boosting (Enfoque Boosting)</option>
                    </select>
                    <div>
                        <button class="prev-btn" onclick="goToStep(2)">Anterior</button>
                        <button class="next-btn" onclick="goToStep(4)">Siguiente</button>
                    </div>
                </div>

                <div id="loading-message-train" class="loading-overlay" style="display: none;">
                    <p id="training-status">Cargando, por favor espera...</p>
                </div>

                <!-- Paso 4 -->
                <div class="step" id="step-4">
                    <h2>Paso 4: Generar Resultados</h2>

                    <p>Pulsa "Siguiente" para empezar con el proceso de generar los graficos, reportes, estadisticas, etc.</p>
                    <div>
                        <button class="next-btn" onclick="goToStep(5)">Siguiente</button>
                    </div>
                </div>

                <!-- Paso 5 -->
                <div class="step" id="step-4">
                    <h2>Paso 5: Resultados</h2>
                    <p>Pulsa "Ver resultados" para ver todos los resutados generados.</p>
                    <div>
                        <button  onclick="window.location.href='/resultados'" class="next-btn">Ver Resultados</button>
                    </div>
                 
                </div>
            </div>
        </div>

    </main>

    <!-- <footer>
        <div class="footerContainer">
            <h2 style="color: aliceblue;">Facultad de Ciencias Exactas, Naturales y Agrimensura</h2>
            <div class="flexContainerFooter">
                <div>
                    <h3>Contactenos: </h3>
                    <div>

                        <h4>Acevedo Agustin</h4>
                    </div>
                </div>
                <div>
                    <p>Quiro que esto se muestre a la derecha</p>
                </div>
            </div>
        </div>
    </footer> -->
    <footer class="bg-dark text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Sobre nosotros</h5>
                    <p>Nuestros nombres son Acevedo Agustin y Alegre Gaton. Somos estudiantes de Lic en Sistemas de la Facultad Nacional del Nordeste (UNNE).
                         Trabajamos juntos en varios proyectos para diferentes asignaturas y con este mismo damos por finalizado nuestra etapa como estudiantes Universitarios.
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>Enlaces rápidos</h5>
                    <ul class="list-unstyled">
                        <li><a href="/" class="text-light">Inicio</a></li>
                        <li><a  href="/resultados"  class="text-light">Reportes y Estadisticas</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Redes sociales y Contactos</h5>
                    <h6>Acevedo Agustin</h6>
                    <a href="#" class="text-light me-2">Facebook</a>
                    <a href="#" class="text-light me-2">Instagram</a>
                    <a href="#" class="text-light"> Linkedin</a>
                    <p>Cel: 3794-561967</p>
                    <p>Gmail: ac.nahuel.agustin@gmail.com</p>
                    <h6>Alegre Gaston</h6>
                    <a href="#" class="text-light me-2">Facebook</a>
                    <a href="#" class="text-light me-2">Instagram</a>
                    <a href="#" class="text-light">Linkedin</a>

                </div>
            </div>
        </div>
    </footer>
    

    <script src="/static/pasos.js"></script>
</body>

</html>