<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes y Estadísticas</title>
    <link rel="stylesheet" href="static/style2.css">
    <style>
        .contenedorReportes {
            display: flex;
            flex-wrap: wrap; 
            justify-content: center;
            gap: 20px;
        }
        .imagen {
            width: 500px;
            border: 1px solid #ddd;
            padding: 10px;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        }
        .imagen-container {
            text-align: center;
        }
    </style>
</head>
<body>
    <header class="header">
        <!--<img src="imagenes/logofacena.png" alt="Logo" class="logo">-->
        <img src="{{ url_for('static', filename='imagenes/logofacena.jpg') }}" alt="Logo" class="logo">

        <h1 class="titulo-header">Proyecto Final de Carrera</h1>
    </header>
    <h2>Reportes y Estadísticas</h2>
    <!-- <div class="contenedor" id="contenedor">
         <img src="/graficos/caracteristicas20selectorRFE/figBacc_t.png" class="imagen"  alt="grafico 1">
        <img class="imagen" src="/graficos/caracteristicas20selectorRFE/figP_t.png" alt="grafico 2">
        <img class="imagen" src="/graficos/caracteristicas20selectorRFE/figTRT_t.png" alt="grafico 3">
        <img class="imagen" src="/graficos/caracteristicas20selectorRFE/figTST_t.png" alt="grafico 4"> 
    </div> -->

    <div class="contenedorReportes">
        {% for img in imagenes %}
        <div class="imagen-container">
            <h3>{{ img.titulo }}</h3>
            <img src="{{ url_for('imagenes', filename=img.nombre) }}" class="imagen" alt="{{ img.titulo }}">
        </div>
        {% endfor %}
    </div>

    <!-- <script>
        const num_caract = 20
        const imagenes = ["figCacc_t.png", "figP_t.png", "figTRT_t.png", "figTST_t.png"]; // Agrega más nombres si es necesario
        const rutaBase = "/graficos/caracteristicas" + str(num_caract) + "selectorRFE/"; // Carpeta donde están guardadas las imágenes
        const contenedor = document.getElementById("contenedor");

        imagenes.forEach(img => {
            let imgElement = document.createElement("img");
            imgElement.src = rutaBase + img;
            imgElement.classList.add("imagen");
            imgElement.alt = img;
            contenedor.appendChild(imgElement);
        });
    </script>  -->
</body>
</html>
