<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes y Estadísticas</title>
    <link rel="stylesheet" href="static/style2.css">
</head>

<body>
    <header class="header">
        <!--<img src="imagenes/logofacena.png" alt="Logo" class="logo">-->
        <img src="{{ url_for('static', filename='imagenes/logofacena.jpg') }}" alt="Logo" class="logo">

        <h1 class="titulo-header">Proyecto Final de Carrera</h1>
    </header>
    <h2 class="tituloBody">Reportes y Estadísticas</h2>

    <section class="sectionReporte">

        <div class="contenedorReportes">
            {% for img in imagenes %}
            <div class="imagen-container">
                <h3>{{ img.titulo }}</h3>
                <img src="{{ url_for('imagenes', filename=img.nombre) }}" class="imagen" alt="{{ img.titulo }}">
            </div>
            {% endfor %}
        </div>
    </section>
</body>

</html>